extends ../layouts/default

//- rambling: include mixin
include ../mixins/rambling-breadcrumbs
include ../mixins/rambling-post-list-card


block intro
	.container
		//- rambling: 文字サイズと色を調整
		if data.category
			if data.posts.currentPage == 1
				h1.rambling-h1='記事一覧（' + data.category.name+ '）'
			else
				h1.rambling-h1='記事一覧（' + data.category.name+ '）' + ' ' + data.posts.currentPage + 'ページ目'
		else if filters.publishedYearMonth
			if data.posts.currentPage == 1
				h1.rambling-h1='記事一覧（' + filters.publishedYearMonth.substr(0,4) + '年' + filters.publishedYearMonth.substr(4,2) + '月）'
			else
				h1.rambling-h1='記事一覧（' + filters.publishedYearMonth.substr(0,4) + '年' + filters.publishedYearMonth.substr(4,2) + '月）' + ' ' + data.posts.currentPage + 'ページ目'
		else 
			if data.posts.currentPage == 1
				h1.rambling-h1='記事一覧'
			else
				h1.rambling-h1='記事一覧' + ' ' + data.posts.currentPage + 'ページ目'

block content
	if filters.category && !data.category
		h3.text-muted 指定したカテゴリは存在しません。
	else
		if data.posts.results.length
			if data.posts.totalPages > 1
				//- rambling: 文字サイズと色を変更
				h4.text-muted.rambling-lead Showing 
					strong #{data.posts.first}
					|  to 
					strong #{data.posts.last}
					|  of 
					//- strong #{data.posts.total}
					strong= data.category ? data.categoryPostCount : data.posts.total
					|  posts.
			else
				h4.text-weight-normal.rambling-lead Showing #{utils.plural(data.posts.results.length, '* post')}.
			//- rambling: list-groupを設定
			.blog.list-group
				each post in data.posts.results
					+rambling-post-list-card(post)
			
			if data.posts.totalPages > 1
				ul.pagination
					if data.posts.previous
						li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
					else
						li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
					each p, i in data.posts.pages
						li(class=data.posts.currentPage == p ? 'active' : null)
							a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
					if data.posts.next
						li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
					else
						li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
		else
			if data.category
				h3.text-muted この記事カテゴリには記事がありません。
			else
				h3.text-muted この記事カテゴリには記事がありません。
		
		//- rambling: パンくず設定
		+rambling-breadcrumbs
